main{
    padding-bottom: 10rem;
}

footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 14px;
    color: #666;
}
